body{
    background-color: #C9CCD5;
    font-family: monospace;
    color: #051367;
}

hr{
    width: 80%;
    margin: auto;
    height: 0;
    border-top: solid;
    color: #051367;
}

#logo-img{
    height: 3rem;
    width: 3rem;
}

.section-one{
    padding: 2em;
}

.section-two{
    margin:6vh;
    padding: 1em;
}

.section-one-txt{
    text-align: center;
    margin-top: 8rem;
    margin-left: 2em;
}

.section-two-txt{
    text-align: center;
}

.avatar-profile{
    float: right;
    border-radius: 100%;
    border-width: 8px;
    border-style: dotted;
    border-color: #FFE3E3;
    height: 60vh;
    width: 60vh;
}