body{
    background-color: #C9CCD5;
    font-family: monospace;
    color: #051367;
}

hr{
    width: 80%;
    margin: auto;
    height: 0;
    border-top: solid;
    color: #051367;
}

a:hover{
    color:#051367;
}

#logo-img{
    height: 5rem;
    width: 5rem;
}

#abt-txt{
    margin: 0 14rem;
}

.section-one{
    padding: 2em;
}

.section-two{
    margin:6vh;
    padding: 1em;
}

.section-three{
    text-align: center;
}

.section-one-txt{
    text-align: center;
    margin-top: 8rem;
    margin-left: 2em;
}

.section-two-txt{
    text-align: center;
}

.avatar-profile{
    float: right;
    border-radius: 100%;
    border-width: 8px;
    border-style: dotted;
    border-color: #FFE3E3;
    height: 60vh;
    width: 60vh;
}

.footer-heading{
    padding-top: 2rem;
}

.my-footer{
    border-style:solid;
    border-width: 4px;
    color: #051367;
    margin: 2em 20em;
    padding: 1em;
}

.footer-txt{
    font-size: larger;
}

.hello-btn{
    background-color: #051367;
    color: #93B5C6;
    margin-top: 1.5em;
}

.hello-btn:hover{
    color: white;
}

.social-icon{
    height: 5em;
    width: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
}


.project-section{
    background-color: #93B5C6;
    margin:2em 0;
    text-align: center;
    padding: 2em;
}

.card{
    margin: 1.2rem;
    width: 30%;
}